// General purpose
@import "./scss/media";
@import "./scss/reset";
@import "./scss/colors";
@import "./scss/typography";
@import "./scss/grid";
@import "./scss/lists";

// Components
@import "./scss/components/header";
@import "./scss/components/footer";
@import "./scss/components/button";

// Pages
@import "./scss/pages/index";
@import "./scss/pages/publikationer";
