@mixin parallax-container(
    $backgroundImage: "/assets/images/pages/index/webopt-green-chameleon-s9CC2SKySJM-unsplash.jpg",
    $backgroundColor: $black,
    $opacity: 0.5
) {
    position: relative;

    &::before,
    &::after,
    &.is-git::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
    }

    &::before {
        opacity: $opacity;
        background: url($backgroundImage) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
    }

    &::after {
        background: $backgroundColor;
        z-index: -2;
    }

    &.is-git {
        &::before {
            opacity: $opacity;
            background: url("/u02-redesign-unit7#{$backgroundImage}") no-repeat center;
            background-size: cover;
            background-attachment: fixed;
            z-index: -1;
        }
    }
}
