* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}
}

html,
body {
	position: relative;
	min-height: 100vh;
}

body {
	&.scroll-lock {
		overflow: hidden;
	}
}

// Clear webkit apparance
input[type="search"] {
	-webkit-appearance: none;
}
