<div class="container">
	<section class="line-top">
		<h1 class="h4">
			Kontakt
		</h1>
		<p class="mb-0">
			Växel: <a href="tel:0102090100">010-209 01 00</a>
		</p>
		<p class="mb-0">
			Vardagar: 09.00 - 15.00
		</p>
		<p>
			Lunchstängt: 11.30 - 13.00
		</p>

		<p>
			Frågor/synpunkter: <a href="mailto:info@myh.se">info@myh.se</a>
		</p>
		<p>
			Registrator: <a href="mailto:registrator@myh.se">registrator@myh.se</a>
		</p>

		<p class="mb-0">
			<strong>
				Postadress:
			</strong>
		</p>
		<p class="mb-0">
			Myndigheten för yrkeshögskolan
		</p>
		<p class="mb-0">
			Box 145
		</p>
		<p class="mb-0">
			721 05 Västerås
		</p>
	</section>

	<section class="line-top">
		<h1 class="h4">
			Övrigt
		</h1>

		<p>
			Relaterade hemsidor
		</p>
		<ul>
			<li>
				<a href="https://yrkeshogskolan.se" target="_blank" rel="noreferrer noopener">yrkeshogskolan.se</a>
			</li>
			<li>
				<a href="https://konstkulturutbildning.se" target="_blank"
					rel="noreferrer noopener">konstkulturutbildning.se</a>
			</li>
			<li>
				<a href="https://blitolk.nu" target="_blank" rel="noreferrer noopener">blitolk.nu</a>
			</li>
			<li>
				<a href="https://seqf.se" target="_blank" rel="noreferrer noopener">seqf.se</a>
			</li>
		</ul>

		<p class="mb-0">
			<strong>
				Ansvarig utgivare
			</strong>
		</p>
		<p>
			Thomas Persson, generaldirektör MYH.
		</p>
	</section>
</div>
<div id="scroll-to-top"></div>