article#index-student-info-banner {
	&.container {
		margin-top: 2rem;
		padding: 1rem;

		p:last-child {
			margin-bottom: 0;
		}
	}
}

section#main-option-sections {
	&.container {
		ul {
			display: grid;
			grid-template-columns: 1fr;
			row-gap: 1rem;
			grid-template-areas: ".";

			li {
				margin: 0;
				transform: translateY(0);
				will-change: transform;
				transition: transform 0.35s;

				&:hover {
					transform: translateY(0.25rem);
				}

				a {
					display: block;
					padding: 1rem;
					margin: 0;
					font-size: 0.865rem;
					word-break: break-word;
					text-decoration: none;
					height: 100%;

					&::before {
						content: "";
					}

					p {
						font-size: 0.5rem;
					}

					&:hover {
						opacity: 0.5;
					}
				}
			}
		}
	}
}

section#main-gateway {
	&.container {
		.main-gateway-full-width {
			grid-area: full-width;
		}

		display: grid;
		grid-template-columns: 1fr;
		row-gap: 1rem;
		grid-template-areas:
			"."
			"."
			"full-width";

		article {
			padding: 1.375rem 1.25rem;
		}
	}
}

section#front-page-news {
	padding: 0;

	.main-news {
		position: relative;
		background: $black;
		@include parallax;
	}

	.more-news {
		display: grid;
		row-gap: 2rem;

		.lvl2-news {
			background: $smoke;
			padding: 1.375rem 1.25rem;
		}
	}
}

@include media-lg {
	article#index-student-info-banner {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	section#main-gateway {
		&.container {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 2rem;
			row-gap: 2rem;
			grid-template-areas:
				". ."
				"full-width full-width";
		}
	}

	section#main-option-sections {
		&.container {
			ul {
				grid-template-columns: repeat(5, 1fr);
				column-gap: 0.5rem;
				grid-template-areas: ". . . . .";
			}
		}
	}

	section#front-page-news {
		.more-news {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 2rem;
			grid-template-areas: ". .";
		}
	}
}
