article#index-student-info-banner {
	&.container {
		p:last-child {
			margin-bottom: 0;
		}
	}
}

aside#main-option-sections {
	&.container {
		ul {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-areas: ".";

			li {
				margin: 0;

				a {
					display: block;
					padding: 1rem 1rem 1rem 2.5rem;
					margin: 0;
					font-size: 0.865rem;
					word-break: break-word;
					text-decoration: none;
					height: 100%;

					p {
						font-size: 0.5rem;
					}

					// Set white as color for icon
					&::before {
						@include chevron-right($white, 1.15rem, 1.25rem);
					}

					// List below will set black as color for icon
					&.background-yellow-pantone {
						&::before {
							@include chevron-right($black);
						}
					}

					&:hover {
						opacity: 0.85;
					}
				}
			}
		}
	}
}

div#main-gateway {
	&.container {
		.main-gateway-full-width {
			grid-area: full-width;
		}

		display: grid;
		grid-template-columns: 1fr;
		row-gap: 1rem;
		grid-template-areas:
			"."
			"."
			"full-width";

		article {
			padding: 1.375rem 1.25rem;
		}
	}
}

div#front-page-news {
	padding: 0;

	article.main-news {
		&.parallax {
			@extend .text-white;
			@include parallax;
		}
	}

	div.index-calendar {
		section.calendar-dates {
			div.calendar-date-cards {
				display: grid;
				grid-template-columns: 1fr;
				row-gap: 2rem;
				grid-template-areas: ".";
				background: $smoke;

				a {
					text-decoration: none;
					border-radius: 0.15rem;
					padding: 1rem 0;
					background: $white;

					&:hover {
						transform: scale(1.05);
					}

					&:first-child {
						background: $prussian-blue;
						color: $white;
					}

					article {
						display: grid;
						grid-template-columns: 1fr 2fr;
						grid-template-areas: ". .";
						column-gap: 0.5rem;

						h4 {
							font-size: 3rem;
							font-weight: 700;
							line-height: 1;
							padding: 0.5rem 0 0.5rem 0.75rem;
							margin: 0;
						}

						p {
							padding: 0.5rem 0.75rem 0.5rem 0;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	div.more-news {
		section.news-section-title {
			grid-area: news-title;
		}

		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"news-title"
			".";
		row-gap: 2rem;

		div.news-item {
			background: $smoke;
			overflow: hidden;

			img {
				width: 100%;
			}

			article {
				padding: 1.375rem 1.25rem;
				font-weight: 300;
			}
		}
	}
}

@include media-md {
	div#front-page-news {
		div.index-calendar {
			section.calendar-dates {
				div.calendar-date-cards {
					grid-template-columns: repeat(2, 1fr);
					column-gap: 2rem;
					grid-template-areas:
						"next-event next-event"
						". .";

					a {
						&:first-child {
							grid-area: next-event;

							&:hover {
								transform: scale(1.025);
							}

							article {
								grid-template-columns: 1fr 4fr;

								h4 {
									font-size: 5rem;
								}
								p {
									font-size: 2rem;
								}
							}
						}
					}
				}
			}
		}

		div.more-news {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 2rem;
			grid-template-areas:
				"news-title news-title"
				". .";
		}
	}
}

@include media-lg {
	article#index-student-info-banner {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	aside#main-option-sections {
		&.container {
			ul {
				grid-template-columns: repeat(5, 1fr);
				column-gap: 0.5rem;
				grid-template-areas: ". . . . .";

				li {
					transform: translateY(0);
					will-change: transform;
					transition: transform 0.35s;

					&:hover {
						transform: translateY(0.25rem);
					}

					a {
						padding: 1rem;

						// Using important here resolves
						// all subset selections for other colors
						&::before {
							content: "" !important;
						}

						&:hover {
							opacity: 0.5;
						}
					}
				}
			}
		}
	}

	div#main-gateway {
		&.container {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 2rem;
			row-gap: 2rem;
			grid-template-areas:
				". ."
				"full-width full-width";
		}
	}
}

@include media-xl {
	div#front-page-news {
		div.index-calendar {
			section.calendar-dates {
				div.calendar-date-cards {
					grid-template-columns: repeat(3, 1fr);
					column-gap: 2rem;
					grid-template-areas:
						"next-event next-event next-event"
						". . .";
				}
			}
		}
	}
}
