#paragraph-img {
    height: 70% !important;
    width: 70% !important;
}
.flex-container {
    overflow: auto;
}
.flex-child {
    display:block;
}

@media only screen and (min-width: 992px) {
    .flex-child {
        width: 50%;
        float: left;
    }
}
