#paragraph-img {
    height: 70% !important;
    width: 70% !important;
}
.flex-container {
    overflow: auto;
}
.flex-child {
    display:block;
}

@include media-lg {
    .flex-child {
        width: 50%;
        float: left;
    }
}
