#headline-video {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: ".";
}
.oo-video {
    width: 100%;
    height: 560px;
 }
 @include media-lg {
     .oo-video {
         height: 300px;
     }

     #headline-video {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: ". .";
        column-gap: 2rem;
     }
 }