.background-green {
    background-color: #00C84E;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 5px solid black;
}
.oo-head {
    font-size: 40px;
    padding-top: 20px;
}
@media only screen and (min-width: 440px) {
    .oo-head {
        font-size: 60px;
    }
}