#popular-tags {
  display: flex;
  flex-wrap: wrap;
}

div#publication-grid {
  article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "."
      ".";

    img {
      border: 2px solid $smoke;
    }
  }
}

@include media-lg {
  #latest-publications {
    article {
      grid-template-columns: 1fr 2fr;
      grid-template-areas: ". .";
    }
  }
}

@include media-xl {
  #latest-publications {
    article {
      grid-template-columns: 1fr 4fr;
      grid-template-areas: ". .";
    }
  }
}
