section {
  &.container {
    display: grid;
    gap: 2rem 2rem;
    article {
      padding: 0rem;

      div {
        padding: 1rem 1.375rem;
      }
    }
  }
}
@include media-lg {
  section#main-area-grid {
    &.container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: ". .";
    }
  }
}
