section#main-areas-grid {
	display: grid;
	gap: 2rem 2rem;

	article {
		padding: 0rem;

		img {
			width: 100%;
		}
	}
}

@include media-lg {
	section#main-areas-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: ". .";
	}
}
