section#main-area-grid {
  &.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: ".";

    article {
      padding: 0rem;

      div {
        padding: 1rem 1.375rem;
      }
    }
  }
}
@include media-lg {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 2rem;
    grid-template-areas: ". .";
}