button {
	font-size: 1rem;
	border: 1px solid $black;
	padding: 0.675rem 1.235rem;
	border-radius: 0.15rem;
	background: none;
	opacity: 1;
	will-change: opacity;
	transition: opacity 0.35s;
	cursor: pointer;

	&:hover {
		opacity: 0.75;
	}

	&[variant*="white"] {
		border-color: $white;
		color: $white;

		a {
			color: $white;
		}
	}
}
