#main-footer {
	background: $color-primary;

	.container {
		padding: 2rem 0;

		section {
			margin: 1rem;
			padding: 1rem 0;
			border-top: 5px solid $black;
		}
	}
}

@include media-lg {
	#main-footer {
		margin-top: 2rem;

		.container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 1rem;
			grid-template-areas: ". . .";

			section {
				margin: 1rem 0 0 0;
				padding: 1rem 0 2rem 0;
			}
		}
	}
}
