#main-footer {
	background: $color-primary;

	.container {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 1rem;
		grid-template-areas: "." ".";
		padding: 2rem 0;

		section {
			margin: 1rem;
			padding: 1rem 0;
		}
	}
}

@include media-lg {
	#main-footer {
		margin-top: 2rem;

		.container {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 2rem;
			grid-template-areas: ". .";

			section {
				margin: 1rem 0 0 0;
				padding: 1rem 0 2rem 0;
			}
		}
	}
}
