#main-header {
	border-bottom: 5px solid $black;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem 0;
	grid-template-areas:
		"logotype"
		"search"
		"nav";

	#main-header-logotype {
		grid-area: logotype;
		width: 100%;
	}

	input {
		grid-area: search;
		justify-self: end;
	}

	nav {
		grid-area: nav;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		overflow-x: scroll;

		a {
			white-space: nowrap;
			text-transform: uppercase;
			font-weight: 300;
			padding: 0 0.5rem;
			border-right: 1px solid $black;

			&:last-child {
				padding: 0 0 0 0.5rem;
				border-right: none;
			}
		}
	}
}

@include media-lg {
	#main-header {
		grid-template-columns: repeat(5, 1fr);
		gap: 2rem;
		grid-template-areas:
			"logotype logotype search search search"
			"nav nav nav nav nav";

		#main-header-logotype {
			min-width: 350px;
		}
	}
}
