#main-header {
	border-bottom: 5px solid $black;

	nav {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		overflow-x: scroll;

		a {
			white-space: nowrap;
			text-transform: uppercase;
			font-weight: 300;
			padding: 0 0.5rem;
			border-right: 1px solid $black;

			&:last-child {
				padding: 0 0 0 0.5rem;
				border-right: none;
			}
		}
	}
}

@include media-lg {
	#main-header {
		#main-header-logotype {
			max-width: 350px;
			margin-bottom: 1rem;
		}
	}
}
